{% extends "main_template.html" %}

{% block title_text  %}Animales{% endblock title_text  %}

{% block texto_principal %} 
     Listado de Animales
{% endblock texto_principal %}

{% block main_content %}

<p>
    <form action="">

        {{formulario}}
        <input type="submit" value= "Buscar">
    </form>
</p>

{% if animales %}
    <ul>
     {% for animal in animales %}
        <li>
            {{animal}} 
            | <a href="{% url 'app_inicial:ver_animales' animal.id %}">Ver Detalle</a>
            | <a href="{% url 'app_inicial:eliminar_animal' animal.id %}">Eliminar</a>
            | <a href="{% url 'app_inicial:actualizar_animal' animal.id %}">Actualizar</a>

        </li>
     {% endfor %}
    </ul>
{% else %}
    <p>No hay animales registrados.</p>
{% endif %}
{% endblock main_content %} 